{% extends "layout.html" %} 
{% block title %} Register an item {% endblock %} 


{% block content %}
<h1> Register an item </h1>

 {% if form.errors %}
    <ul class=errors>
    {% for error in form.errors %}
      <li>{{ error }}</li>
 {% endfor %}
 {% endif %}
    
    
<form method="POST" action="/items/new">

    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} 
        {{ form.name(size=20, class='form-control', required=true) }}
    </div>

    <div class="form-group">
        {{ form.details.label }} 
        {{ form.details(size=20, class='form-control', required=true) }}
    </div>

    
    <input type="submit" value="Save item" class="btn btn-primary">
</form>


{% endblock %}